header.header.site__aside
  .header__aside
    a(href="/").header__aside-logo
      img(src="images/intertnetdevels-logo-dark.svg" title="Home" alt="Intertnetdevels").header__aside-logo-img
    .header__aside-menu
      button(type="button" aria-label="menu").js-header__menu-toggle.header__aside-menu-toggle
        span
        span
    .header__aside-social
      a(href="#").social-link.header__aside-social-link
        svg.social-link__icon
          use(xlink:href="images/sprite.svg#telegram")
  nav(role="navigation").nav.header__menu
    ul.nav__list
      li.nav__item
        a(href="#").nav__link Services
        ul.nav__dropdown
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Drupal development
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#drupal")
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Wordpress development
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#wp")
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Custom Solutions
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#custom-solutions")
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Outsource Service
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#drupal")
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title UI/uX & Graphic Design
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#drupal")
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title QA Testing
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#drupal")
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Additional Services
      li.nav__item
        a(href="#").nav__link Expertise
        ul.nav__dropdown
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Drupal development
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#drupal")
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Wordpress development
      li.nav__item
        a(href="#").nav__link Cases
        ul.nav__dropdown
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Drupal development
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#drupal")
      li.nav__item
        a(href="#").nav__link Company
        ul.nav__dropdown
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Drupal development
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#drupal")
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Wordpress development
      li.nav__item
        a(href="#").nav__link Contacts
        ul.nav__dropdown
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Drupal development
              svg.nav__dropdown-link-icon
                use(xlink:href="images/sprite.svg#drupal")
          li.nav__dropdown-item
            a(href="#").nav__dropdown-link
              span.nav__dropdown-link-title Wordpress development