:root {
    --fs-default: 16px;
    --fs-1: 92px;
    --fs-2: 72px;
    --fs-3: 64px;
    --fs-4: 48px;
    --fs-5: 28px;
    --fs-6: 24px;

    --gap: 15px;
    --gap-: -15px;
    --gap-container: 120px;

    --aside-width: 72px;
}